*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 1px solid currentColor;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
  margin-bottom: 2rem;
  line-height: 1.2rem;
  margin-right: 2%;
  text-align: center;
  padding: 1.5rem 4rem;
  position: relative;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: currentColor;
  opacity: 0.3;
  top: 0;
  left: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.3s, background-color 0.1s, -webkit-transform 0.3s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.3s, background-color 0.1s, -webkit-transform 0.3s;
  transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.3s, background-color 0.1s;
  transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.3s, background-color 0.1s, -webkit-transform 0.3s;
}

.btn:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.btn-add {
  color: #55c57a;
}

.btn-add:active, .btn-add:focus {
  color: #2eb15a;
}

.btn-delete {
  color: #e36666;
}

.btn-delete:active, .btn-delete:focus {
  color: #bd3535;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 28em) {
  .btn-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.products-card {
  min-width: 20%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 2rem;
  border: 1px solid #777;
}

@media only screen and (max-width: 28em) {
  .products-card {
    width: 100%;
  }
}

.products-card_container {
  text-align: center;
}

.form {
  padding: 5rem;
}

@media only screen and (max-width: 28em) {
  .form {
    padding: 1rem;
  }
}

.form-add {
  font-family: inherit;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 28em) {
  .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-row :first-child {
  width: 25%;
}

@media only screen and (max-width: 28em) {
  .form-row :first-child {
    width: 100%;
    text-align: center;
  }
}

.form-row > *:not(label):not(p) {
  background-color: transparent;
  border: 1px solid currentColor;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 50%;
}

@media only screen and (max-width: 28em) {
  .form-row > *:not(label):not(p) {
    width: 100%;
  }
}

.footer {
  font-size: 2rem;
  color: #777;
}

.footer-text {
  width: 100%;
  text-align: center;
  display: block;
  margin-top: 3rem;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5rem;
  padding: 5rem;
}

@media only screen and (max-width: 28em) {
  .products {
    padding: 1rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

@media only screen and (max-width: 28em) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-title {
  font-size: 3rem;
}

.error {
  color: #e36666;
}

.disabled {
  color: #777;
  cursor: not-allowed;
}

.center {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */