
$color-add: #55c57a;
$color-add-dark: #2eb15a;
$color-delete: #e36666;
$color-delete-dark: #bd3535;;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$default-section-padding: 5rem;
$small-section-padding:1rem;
