.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: $default-font-size;
    transition: all 0.3s ease-in;
    border: 1px solid currentColor;
    cursor: pointer;
    background-color: transparent;
    font-family: inherit;
    margin-bottom: 2rem;
    line-height: 1.2rem;
    margin-right: 2%;
    text-align: center;
    padding: 1.5rem 4rem;
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: currentColor;
    opacity: 0.3;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.3s,
      background-color 0.1s;
  }

  &:hover::before {
    transform: scaleY(1);
    width: 100%;
  }

  &-add {
    color: $color-add;
    &:active,
    &:focus {
      color: $color-add-dark;
    }
  }

  &-delete {
    color: $color-delete;

    &:active,
    &:focus {
      color: $color-delete-dark;
    }
  }

  &-container {
    display: flex;
    flex-basis: 30%;
    justify-content: flex-end;

    @include respond-phone {
      flex-direction: column;
      flex-basis: 100%;
    }
  }
}
