.products {

    &-card {
        min-width:20%;
        flex-grow:0;
        padding:2rem;
        border: 1px solid $color-grey-dark;

        @include respond-phone{
            width:100%;
        }
    }

    &-card_container {
        text-align:center;
    }
}