.form {
  padding: $default-section-padding;

  @include respond-phone {
    padding: $small-section-padding;
  }

  &-add {
    font-family: inherit;
  }

  &-row {
    display: flex;
    gap: 2rem;
    align-items: center;
    @include respond-phone {
      flex-direction: column;
    }
  }
  &-row :first-child {
    width: 25%;
    @include respond-phone {
      width: 100%;
      text-align: center;
    }
  }
  &-row > *:not(label):not(p) {
    background-color: transparent;
    border: 1px solid currentColor;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 50%;
    @include respond-phone {
      width: 100%;
    }
  }
}
